body{
    margin-left: 36px;

}

.purple{
    color: rgb(156, 17, 156);
}

.big-text{
    font-size: 25px;

}

.right-flo{
    float: right;
    width: 260px;
    height: 400px;
    padding-right: 2%;
    
}

.left-flo{
    float: left;
    width: 260px;
    height: 400px;
    padding-left: 2%;
}

.left-flo1{
    float: left;
    width: 460px;
    height: 400px;
    padding-left: 2%;
}

.half{
    width: 50%;
    float: left;
}

html{
    background-image: url("images/back.jpg");
    background-repeat: repeat-y repeat-x;
}



.button{
    color: white;
    background-image: linear-gradient(45deg, rgb(11, 0, 161), rgb(248, 0, 236));
    padding: 13px 42px 13px 42px;
    border-radius: 10px;
}

.gap-top{
    padding-top: 6%;
    padding-bottom: 4%;
}

.container{
    padding-left: 5%;
    display: inline-block;
}

.hover:hover{
    transform: scale(1.5);
    padding: 15px 25px;
    color: white;
    border-radius: 7px;
    box-shadow: 10px 10px 40px gray;
  }

iframe{
    float: right;
    width: 500px;
    height: 600px;
    padding-right: 2%;
    
}

.btn{
    width: 120px;
    height: 22px;
    background-image: linear-gradient(45deg, rgb(231, 41, 35), rgb(226, 212, 11));

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }